.portfolio {
    background-color: black;
}

.portfolio-banner {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.about-text {
    margin-top: 200px;
    
}

.projects-container {
    width: 75%;
    margin-top: 75px;
    height:auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

.card {
    position: relative;
    width: 45%;
    height: 350px;
    background-color: rgb(255, 252, 246);
    display: flex;
    margin: 30px 0;
}

.white-bg {
    background-color: white;
}

.imgBox {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
    transition: 0.5s ease-in-out; 
}

.card:hover .imgBox {
    width: 200px;
    height: 200px;
    left: -75px;
    top: calc(50% - 100px);
    transition: 0.5s ease-in-out;
}

.content {
    position: absolute;
    right: 25px;
    width: calc(100% - 200px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.content-div > h2 {
    color: #f00946;
    font-size: 45px;
    margin-bottom: 10px;
}

.content-div > p {
    font-size: 15px;
}

.links {
    padding: 10px 0;
    margin-top: 30px;
}

.links > a {
    background-color: #f00946;
    margin: 20px 20px 0 0;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    color: white;

}
